.topnav {
    overflow: hidden;
    background-color: #ffff;
  }
  
  .topnav a {
    float: left;
    margin-top: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .right{
    float: right;
    margin-right:50px;

  }
 
  .topnav a.active {
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
 
  
  @media screen and (max-width: 800px) {
    .topnav .right{
        display: none;
    }
  }